.symptom_section .description_section {
    font-size: 27px;
}

.symptom_section .description_section {
    width: 70%;
    margin-left: 15%;
}

.symptom_section .description_section .main_point {
    color: var(--color);
    font-style: italic;
    font-size: 40px;
}

.symptom_section .description_part {
    margin-bottom: 3rem;
}

/* Lists */
.symptom_section .bullet_opening {
    font-weight: 500;
    font-style: italic;
    margin-top: 3rem;
}

.symptom_section .sub_opening {
    font-weight: 600;
    font-style: italic;
}

.symptom_section .bullet_point {
    margin-bottom: 1rem;
}

.symptom_section .bullet_point_with_arrow {
    display: flex;
}

.bullet_points {
    list-style: none;
    padding: 0;
}

.sub_content {
    margin-left: 2rem;
}

.symptom_section .description_section .description_part .large_header {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.symptom_section .list_arrow {
    display: inline;
    align-self: flex-start;
}

.symptom_section .header_indicator {
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    margin-right: 1rem;
    cursor: pointer;
    color: inherit;
    text-decoration: unset;
}

/* Paragraph */
.paragraph {
    margin-top: 1rem;
}

.sub-sub-header {
    margin-top: 1rem;
}

.guiding {
    color: var(--color);
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* ----------------------------------------- RESPONSIVENESS --------------------------------------------- */
@media only screen and (max-width: 650px) {
    .symptom_section .description_section {
        font-size: 17px;
    }

    .symptom_section .description_section {
        width: 90%;
        margin-left: 5%;
    }

    .symptom_section .description_section .main_point {
        font-size: 25px;
    }

    .symptom_section .description_section .description_part .large_header {
        font-size: 25px;
    }
}

@media only screen and (min-width: 651px) and (max-width: 1200px) {
    .symptom_section .description_section {
        font-size: 20px;
    }

    .symptom_section .description_section {
        width: 80%;
        margin-left: 10%;
    }

    .symptom_section .description_section .main_point {
        font-size: 30px;
    }

    .symptom_section .description_section .description_part .large_header {
        font-size: 30px;
    }
}