:root {
    --video-shadow: 0px 0.2px 5px 0.1px black;
}

.symptom_section {
    overflow-x: hidden;
}

.symptom_section .video_section {
    box-shadow: var(--video-shadow);
    height: 50vh;
    width: 50vw;
}

/* Concern Image */
.concern-image {
    background-position: center;
    background-size: cover;
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
}

.symptom_section .video_section iframe {
    height: inherit;
    width: inherit;
}

.symptom_section .relative_container {
    position: relative;
    height: calc(50vh + 100px + 1rem);
}

#payload .symptom_section .video-translated {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 200px;
    box-shadow: var(--video-shadow);
}

#payload .video-translated .video-wrapper {
    position: relative;
    height: inherit;
    width: inherit;
}

#payload .video-translated .video-wrapper .extra-layer {
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: 2;
    cursor: pointer;
}

.symptom_section .videos_container {
    height: inherit;
    width: inherit;
}

.symptom_section .video {
    width: inherit;
    height: inherit;
}

/* ------------------------------------ RESPONSIVENESS --------------------------------------------*/

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .symptom_section .video_section {
        height: 40vh;
        width: 40vw;
    }

    .symptom_section .relative_container {
        height: calc(40vh + 100px + 1rem);
    }
}

@media only screen and (max-width: 1200px) {
    #payload .symptom_section .video-translated {
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 751px) and (max-width: 1200px) {
    .symptom_section .video_section {
        height: 60vh;
        width: 100vw;
        margin-bottom: 2rem;
    }

    .symptom_section .relative_container {
        height: calc(60vh + 100px + 1rem);
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 651px) and (max-width: 751px){
    .symptom_section .video_section {
        height: 40vh;
        width: 100vw;
        margin-bottom: 2rem;
    }

    .symptom_section .relative_container {
        height: calc(40vh + 100px + 1rem);
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 650px){
    .symptom_section .video_section {
        height: 30vh;
        width: 100vw;
        margin-bottom: 2rem;
    }

    .symptom_section .relative_container {
        height: calc(30vh + 100px + 1rem);
        margin-bottom: 2rem;
    }
}