.symptom_section {
    overflow-x: hidden;
}

.symptom_section .video_section {
    border: solid 30px var(--nav-background-color);
    border-radius: 26px;
    height: 50vh;
    width: 50vw;
}

.symptom_section .video_section iframe {
    height: inherit;
    width: inherit;
}
/* ------------------------------------ RESPONSIVENESS --------------------------------------------*/

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .symptom_section .video_section {
        border: solid 20px var(--nav-background-color);
        border-radius: 20px;
        height: 40vh;
        width: 40vw;
    }
}

@media only screen and (min-width: 751px) and (max-width: 1200px) {
    .symptom_section .video_section {
        border: unset;
        border-radius: unset;
        height: 60vh;
        width: 100vw;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 651px) and (max-width: 751px){
    .symptom_section .video_section {
        border: unset;
        border-radius: unset;
        height: 40vh;
        width: 100vw;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 650px){
    .symptom_section .video_section {
        border: unset;
        border-radius: unset;
        height: 30vh;
        width: 100vw;
        margin-bottom: 2rem;
    }
}