#nav_bar .burger_menu {
    display: none;
}

@media only screen and (max-width: 750px) {
    #nav_bar .burger_menu {
        position: relative;
        cursor: pointer;
        display: block;
        width: 25px;
        height: 25px;
    }

    #nav_bar .burger_menu .burger_layer {
        width: 23px;
        height: 2px;
        background-color: white;
        display: block;
        margin-bottom: 0.4rem;
        transition: transform 0.2s;
    }

    #nav_bar .burger_menu .burger_layer:last-child {
        margin-bottom: unset;
    }

    #nav_bar .nav_items .nav_item {
        margin-top: 2rem;
        color: rgba(77, 77, 77, 0.7);
        height: unset;
    }

    #nav_bar .navigation_components .nav_items {
        justify-content: unset;
        top: 0;
        background-color: white;
        margin-top: var(--sm-nav-height);
        display: flex;
        flex-direction: column;
        position: absolute;
        height: calc(100vh - var(--sm-nav-height));
        transform: translate(120%);
        transition-timing-function: ease-out;
        transition-property: transform;
        transition-duration: .2s;
    }

    #nav_bar .navigation_components .nav_items_opened {
        transform: translate(20%);
        transition-timing-function: ease-out;
        transition-property: transform;
        transition-duration: .2s;
    }

    #nav_bar .nav_items_opened + .burger_menu .first_layer {
        position: absolute;
        transform: rotate(45deg);
        transition: transform .2s;
        top: 50%;
    }

    #nav_bar .nav_items_opened + .burger_menu .second_layer {
        position: absolute;
        transform: rotate(-45deg);
        transition: transform .2s;
        top: 50%;
    }

    #nav_bar .nav_items_opened + .burger_menu .third_layer {
        display: none;
    }
}