#footer {
    background-color: var(--choice-hover-background-color);
    height: var(--footer-height);
    color: var(--color);
}

#footer .footer_components {
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

#footer .logo_section .all_rights {
    margin-top: 1rem;
    margin-left: 1.2rem;
    font-weight: 700;
}

#footer .contact_email {
    background-color: var(--choice-background-color);
    font-weight: 700;
    text-decoration: none;
    color: var(--choice-color);
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    margin-top: 1rem;
}

#footer .contact_email:hover {
    background-color: var(--choice-hover-background-color);
}

#footer .about_app .about_us {
    display: flex;
    flex-direction: column;
}

#footer .about_app .about_us .about_item {
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    margin-bottom: 1rem;
    transition: transform 0.1s;
}

#footer .about_app .about_us .about_item:last-child {
    margin-bottom: unset;
}

#footer .about_app .about_us .about_item:hover {
    color: var(--button-background-color);
    transform: translateY(-3%);
    transition: transform 0.1s;
}

@media only screen and (max-width: 1300px) {
    #footer .footer_components {
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    #footer {
        height: var(--md-footer-height);
    }
}

@media only screen and (max-width: 600px) {
    #footer {
        height: var(--sm-footer-height);
    }
}

@media only screen  and (max-width: 1000px) {

    #footer .footer_components {
        flex-direction: column;
    }
}



@media only screen and (min-width: 550px) and (max-width: 1000px) {
    #footer .about_app .about_us {
        flex-direction: row;
    }

    #footer .about_app .about_us .about_item {
        margin-right: 1rem;
    }


    #footer .about_app .about_us .about_item:last-child {
        margin-right: unset;
    }
}

@media only screen and (max-width: 400px) {
    #footer .website_footer_logo img {
        width: 200px;
    }

    #footer .all_rights {
        font-size: 12px;
    }

    #footer .contact_email {
        font-size: 12px;
    }
}