/* Design Navigation */
#nav_bar {
    height: var(--nav-height);
    background-color: var(--choice-hover-background-color);
}

#nav_bar .navigation_components {
    height: inherit;
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#nav_bar .nav_items {
    height: inherit;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;
}

#nav_bar .nav_item {
    height: inherit;
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    transition: background-color 1s;
}

#nav_bar .nav_item:hover {
    background-color: var(--choice-background-color);
    transition: background-color 1s;
}

/* --------------------------------------- RESPONSIVENESS -------------------------------------------  */
@media only screen and (max-width: 1200px) {
    #nav_bar {
        height: var(--sm-nav-height);
    }

    #nav_bar .nav_logo img {
        width: 200px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 900px) {
    #nav_bar .navigation_components {
        width: 90%;
        margin-left: 5%;
    }

    #nav_bar .nav_item {
        font-size: 15px;
    }
}

@media only screen and (max-width: 400px) {
    #nav_bar .navigation_components {
        width: 96%;
        margin-left: 2%;
    }
}