/* Prompts' Design */
/* Regular Prompt */
#form_container .action_box {
    margin-left: var(--input-margin-left);
    margin-top: var(--button_margin-top);
}

.action_box .action_prompt {
    margin-left: 1rem;
}

.action_prompt .pp_press {
    margin-right: 0.3rem;
    font-style: italic;
}

.action_prompt .pp_enter {
    font-weight: 700;
}

/* Buttons' Design */
/* Regular Button */
#form_container .raw_button {
    position: relative;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-property: background-color, color, border-color, opacity, box-shadow;
    transition-timing-function: ease-out;
    outline: none;
    border: 1px solid transparent;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 12px 0;
    padding: 6px 14px;
    min-height: 40px;
    background-color: rgb(50, 134, 179);
    color: rgb(255, 255, 255);
    border-radius: 4px;
}

#form_container .raw_button:hover {
    background-color: rgb(81, 152, 190);
}
