:root {
    --choice-background-color: rgba(52, 113, 130, 0.1);
    --choice-color: rgb(52, 113, 130);
    --choice-shadow-color: rgba(52, 113, 130, 0.8);
    --choice-hover-background-color: rgba(52, 113, 130, 0.3);

    /* Letter box sizes */
    --letter-box-width: 25px;
    --letter-box-height: 25px;
    --md-letter-box-width: 20px;
    --md-letter-box-height: 20px;

    /*  Solid choice (i.e. star)  */
    --sc-box-width: 25px;
    --sc-box-height: 25px;
    --md-sc-box-width: 20px;
    --md-sc-box-height: 20px;
}

/* Choice animation */
@keyframes choice_blinking {
    from {background-color: var(--choice-background-color)}
    to {background-color: var(--choice-hover-background-color)}
}

#form_container .choices_section {
    margin-left: var(--input-margin-left);
    margin-top: var(--input-margin-top);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#form_container .checkbox_column {
    width: 48%;
}

#form_container .choice_part {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: var(--box-radius);
    box-shadow: var(--choice-shadow-color) 0px 0px 0px 2px inset;
    background-color: var(--choice-background-color);
    color: var(--choice-color);
    min-width: 75px;
    min-height: 40px;
    outline: 0;
    padding: 4px;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    width: 100%;
    cursor: pointer;
    opacity: 1;
    margin-bottom: 1rem;
    font-size: 20px;
}

#form_container .choice_part:hover {
    background-color: var(--choice-hover-background-color);
}

/* Choice letter decoration */
#form_container .choice_letter {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: white;
    border-radius: var(--box-radius);
    width: var(--letter-box-width);
    height: var(--letter-box-height);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    border-color: var(--choice-shadow-color);
}

/* -------------------------------------------- Choice's 'other' input decoration ---------------------------*/
#form_container .choice_other_raw_input {
    background-color: transparent;
    color: var(--choice-color);
    font-size: 20px;
    margin-left: 1rem;
    border: none;
    outline: none;
}

#form_container .other_input_interaction {
    position: absolute;
    right: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}

#form_container .choice_other_raw_input:hover,
#form_container .choice_other_raw_input:active {
    border: none;
    outline: none;
}

/* Choice decoration */
#form_container .choice_is_made {
    box-shadow: var(--choice-color) 0px 0px 0px 2px inset;
    animation: 0.25s ease 0s 2 normal none running choice_blinking;
}

#form_container .choice_is_made .choice_letter {
    color: white;
    background-color: var(--choice-color);
}

/* Checkmark design */
#form_container .enabled_other_input {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-property: background-color, color, border-color, opacity, box-shadow;
    transition-timing-function: ease-out;
    outline: none;
    border: 1px solid transparent;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
    padding: 0px;
    width: var(--letter-box-width);
    min-width: var(--letter-box-width);
    height: var(--letter-box-height);
    -webkit-box-pack: center;
    background-color: var(--choice-color);
    color: white;
    border-radius: var(--box-radius);
}

#form_container .cause_of_injury .enabled_other_input {
    right: 1rem;
}

#form_container .other_input_interaction .enabled_other_input {
    position: static;
}


/* -------------------------------------------- Layout of Concerns -------------------------------------- */



/* -------------------------------------------- SOLID CHOICE BUTTON -------------------------------------- */
#form_container .solid_choice {
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    z-index: 2;
    width: var(--sc-box-width);
    height: var(--sc-box-height);
}

#form_container .choice_is_made .solid_choice {
    display: inline-block;
}

#form_container .choice_is_made .solid_choice_is_made {
    color: greenyellow;
}

/* Input area's star */
#form_container .other_input_interaction .solid_choice {
    display: none;
    position: static;
}

#form_container .choice_is_made .other_input_interaction .solid_choice {
    display: block;
    position: static;
    margin-left: auto;;
}

#form_container .better_choice_exists .solid_choice {
    display: none!important;
}

/* -------------------------------------------- RESPONSIVENESS -------------------------------------------- */

@media only screen and (min-width: 801px) and (max-width: 900px) {
    #form_container .choice_part {
        font-size: 15px;
    }

    #form_container .choice_other_raw_input {
        font-size: 15px;
    }

    #form_container .choice_letter {
        width: var(--md-letter-box-width);
        height: var(--md-letter-box-height);
        font-size: 13px;
    }
}

@media only screen and (max-width: 800px) {
    #form_container .choices_section {
        flex-direction: column;
        max-height: calc(100vh/2);
        overflow-y: scroll;
        flex-wrap: nowrap;
        border-bottom: 2px dashed blueviolet;
    }

    #form_container .checkbox_column {
        width: 90%;
    }

    #form_container .choice_part {
        font-size: 15px;
    }

    #form_container .choice_other_raw_input {
        font-size: 15px;
    }

    #form_container .choice_letter {
        width: var(--md-letter-box-width);
        height: var(--md-letter-box-height);
        font-size: 13px;
    }
}