#form_container .raw_input {
    display: block;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--input-color);
    width: 100%;
    font-size: var(--input-font-size);
    margin-left: var(--input-margin-left);
    color: var(--input-color);
    margin-top: var(--input-margin-top);
}

#form_container .concern_questions .raw_input {
    margin-left: 0;
}

/* ----------------------------------------- RAW INPUT -----------------------------------------*/
#form_container .raw_input:active,
#form_container .raw_input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--input-color-active);
    color: var(--input-color-active);
}

#form_container .raw_input::placeholder {
    color: var(--input-color);
}

/* Input Label */
#form_container .input_label {
    font-size: var(--quesiton-font-size);
    color: var(--question-color);
}

#form_container .question_number {
    margin-right: 0.5rem;
    font-weight: 500;
    color: var(--input-color-active);
    font-size: var(--question-number-size);
}

/* -------------------------- RESPONSIVENESS ------------------------------ */

/* Tiny Screen */
@media only screen and (max-width: 550px) {
    #form_container .raw_input {
        font-size: var(--input-sm-font-size);
    }

    #form_container .question_number {
        font-size: var(--question-sm-number-size);
    }

    #form_container .input_label {
        font-size: var(--quesiton-sm-font-size);
    }
}


/* ----------------------------------------- CHECKBOX ----------------------------------------- */
.checkbox_container {
    margin-left: var(--input-margin-left);
}

/* Checkbox decoration */
.checkbox_input {
    cursor: pointer;
    width: var(--ck-box-size);
    height: var(--ck-box-size);
}

.checkbox_label {
    color: var(--input-color-active);
    font-size: var(--ck-font-size);
}

@media only screen and (max-width: 550px) {
    .checkbox_input {
        width: var(--sm-ck-box-size);
        height: var(--sm-ck-box-size);
    }

    .checkbox_label {
        font-size: var(--sm-ck-font-size);
    }
}