:root {
    /* General */
    --color: rgba(77, 77, 77, 0.7);
    --font-family: "Karla", sans-serif;

    /* Sections */
    --footer-height: 150px;
    --sm-footer-height: 500px;

    /* Colors */
    --input-color: #C7D9DD;
    --input-color-active: rgb(52, 113, 130);
    --question-color: rgb(68, 68, 68);

    /*  Buttons  */
    --button_margin-top: 1rem;
    --button-background-color: rgb(50, 134, 179);
    --button-on-hover-bck-color: rgb(81, 152, 190);

    /* Choices */
    --choice-background-color: rgba(52, 113, 130, 0.1);
    --choice-color: rgb(52, 113, 130);
    --choice-shadow-color: rgba(52, 113, 130, 0.8);
    --choice-hover-background-color: rgba(52, 113, 130, 0.3);

    /* Font Sizes */
    --input-font-size: 30px;
    --input-sm-font-size: 20px;
    --question-number-size: 18px;
    --question-sm-number-size: 13px;
    --quesiton-font-size: 26px;
    --quesiton-sm-font-size: 15px;
    --box-radius: 4px;

    /*  Margin, Padding  */
    --input-margin-left: 2rem;
    --input-margin-bottom: 2rem;
    --input-margin-top: 2rem;
    --question-number-margin-left: 1rem;

    /*  Checkboxes  */
    --ck-font-size: 1.5rem;
    --ck-box-size: 1.5rem;
    --sm-ck-font-size: 1rem;
    --sm-ck-box-size: 1rem;

    /*  Errors  */
    --err-background: rgb(247, 230, 230);
    --err-color: rgb(177, 51, 28);

    /*  Success  */
    --success-message-bck-color: #05a081;
}