#loader_section {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    overflow: hidden;
}

#loader_section .loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}


#loader_section .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#form_container.blur_background {
    filter: blur(3px);
}