:root {
    --sbt-button-width: 150px;
}

#form_container .navigation_buttons {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#form_container .navigation_buttons .nav_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
    width: 36px;
    min-width: 36px;
    height: 32px;
    -webkit-box-pack: center;
    background-color: var(--button-background-color);
    color: white;
    border-radius: 0;
}

#form_container .nav_btn:hover {
    background-color: var(--button-on-hover-bck-color);
}

/* Navigation Icons */
#form_container .nav-icon svg {
    fill: white;
}

/* Navigation Buttons */
#form_container .navigation_buttons .navigation_to_prev {
    border-radius: 4px 0 0 4px;
    margin-right: 1px;
}

#form_container .navigation_buttons .navigation_to_next {
    border-radius: 0 4px 4px 0;
}

#form_container .navigation_buttons .nav_btn.nav_submit_button
+ .navigation_to_prev {
    border-radius: 0!important;
}

/* Disabled Navigation Buttons */
#form_container .disabled_nav .nav-icon svg {
    fill: var(--input-color)!important;
}

#form_container .disabled_nav:hover {
    background-color: var(--button-background-color);
}

/* --------------------------------------- SUBMIT BUTTON ------------------------------------- */
#form_container .navigation_buttons .nav_btn.submit_button_disabled {
    transform-origin: bottom left;
    transform: translateX(-100%);
    opacity: 0;
    width: 0;
    transition-property: transform, opacity, width;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

#form_container .navigation_buttons .nav_btn.nav_submit_button {
    transform: translateX(0);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    width: var(--sbt-button-width);
    border-radius: 4px 0 0 4px;
    margin-right: 1px;
}