#thank_you_section .action_box {
    transform: translateY(0);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

#thank_you_section .action_box.action_box_disabled {
    transform: translateY(100%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.action_box .action_prompt {
    margin-left: 1rem;
}

.action_prompt .pp_press {
    margin-right: 0.3rem;
    font-style: italic;
}

.action_prompt .pp_enter {
    font-weight: 700;
    margin-right: 1rem;
}

/* Buttons' Design */
/* Regular Button */
#thank_you_section .raw_button {
    position: relative;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-property: background-color, color, border-color, opacity, box-shadow;
    transition-timing-function: ease-out;
    outline: none;
    border: 1px solid transparent;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 12px 0;
    padding: 6px 14px;
    min-height: 40px;
    background-color: var(--button-background-color);
    color: rgb(255, 255, 255);
    border-radius: var(--box-radius);
}

#thank_you_section .raw_button:hover {
    background-color: var(--button-on-hover-bck-color);
}

/* -------------------------- Notification section ----------------------------- */
#thank_you_section .notification_and_action {
    margin-top: var(--button_margin-top);
    display: flex;
}


/* -------------------------------- RESPONSIVENESS ---------------------------------- */
@media only screen and (max-width: 550px) {
    #thank_you_section .raw_button {
        font-size: 10px;
        min-height: 30px;
        width: 30px;
        padding: 2px 4px;
    }

    .action_prompt {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1250px) {
    .action_prompt {
        display: none;
    }

    #thank_you_section .raw_button {
        margin-right: 1rem;
    }
}