#thank_you_section .email_notification_section {
    margin-bottom: var(--main-section-margin);
    position: relative;
}


/* Reasons Section */
#thank_you_section .reasons_to_provide_email {
    margin-top: 1rem;
}

#thank_you_section .reasons_header {
    font-weight: 700;
    font-size: 18px;
}

/* Lists */
#thank_you_section .bullet_opening {
    font-weight: 500;
    font-style: italic;
    margin-top: 3rem;
}

#thank_you_section .sub_opening {
    font-weight: 700;
    color: rgba(0,0,0,0.5);
    font-style: italic;
}

#thank_you_section .bullet_point {
    margin-bottom: 1rem;
}

#thank_you_section .bullet_points {
    list-style: none;
    padding: 0;
}

#thank_you_section .sub_content {
    margin-left: 2rem;
}

/* Email Updating Section */
#thank_you_section .email_updating_section {
    margin-top: 4rem;
}

#thank_you_section .raw_input {
    display: block;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--input-color);
    width: 50%;
    font-size: 25px;
    color: var(--input-color);
    margin-top: var(--input-margin-top);
    background-color: transparent;
}

#thank_you_section .raw_input:active,
#thank_you_section .raw_input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--input-color-active);
    color: var(--input-color-active);
}

#thank_you_section .raw_input::placeholder {
    color: var(--input-color);
}

#thank_you_section .input_label {
    font-size: 20px;
    display: flex;
}


/* ----------------------------------- RESPONSIVENESS ---------------------------------------------- */
@media only screen and (max-width: 800px) {
    #thank_you_section .raw_input {
        width: 100%;
    }
}