:root {
    /*  Colors  */
    --backgound-color: #282838;
    --card-background-color: #323549;
    --card-background-on-hover: #3e415b;
    --highlighted-card-border: greenyellow;
    --card-color: #FFFFFF;
    --card-border-on-hover: 2px solid beige;
}

body {
    background-color: var(--backgound-color);
    color: var(--card-color);
}