:root {
    /*  Colors  */
    --backgound-color: #282838;
    --card-background-color: #323549;
    --card-color: #FFFFFF;
    --card-border-on-hover: 2px solid beige;
}

body {
    background-color: var(--backgound-color);
    
}