#form_container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("/public/images/default-background.jpeg");
    background-repeat: repeat;
}

#form_container .layers_container {
    height: inherit;
    width: inherit;
}

/* Layer Containers */
.layers_container .form_layer {
    height: inherit;
    width: inherit;
    position: relative;
    transition: transform 1s;
}

.form_layer {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
}

/* Question usage hint */
#form_container .question_usage_hint {
    margin-left: var(--input-margin-left);
    margin-top: 1rem;
    font-size: 15px;
    font-style: italic;
}

/* Contents Position */
#form_container .layer_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Responsiveness */
@media only screen and (max-width: 550px) {
    #form_container .layer_content {
        width: 75%;
    }
}