/* REMOVE */
/*:root {*/
/*    --header-font-size: 30px;*/
/*    --headr-sm-font-size: 20px;*/
/*}*/
/* END */

#form_container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#form_container .layers_container {
    height: inherit;
    width: inherit;
}

/* Layer Containers */
.layers_container .form_layer {
    height: inherit;
    width: inherit;
    position: absolute;
}

/* REMOVE */

/* Demographic Information Section */
/*.layer_header {*/
/*    font-size: var(--header-font-size);*/
/*    margin-bottom: 2rem;*/
/*    color: var(--input-color-active);*/
/*}*/

/* END */

.form_layer {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
}

/* REMOVE */

/*@media only screen and (max-width: 550px) {*/
/*    .layer_header {*/
/*        font-size: var(--headr-sm-font-size);*/
/*    }*/
/*}*/

/* END */