<div class="footer_components">
    <div class="logo_section">
        <div>
            <img src="/public/images/general/bsfbi_logo.png" alt="">
        </div>
        <div class="all_rights">
            © 2021 Brain Storm, all rights reserved
        </div>
    </div>
    <div class="contact_info">
        <a href="mailto:info@brainstormforbraininjury.com" class="contact_email">info@brainstormforbraininjury.com</a>
    </div>
    <div class="about_app">
        <div class="about_us">
            <a class="about_item" href="https://brainstormforbraininjury.com/about-us/">About Us</a>
            <a class="about_item" href="https://brainstormforbraininjury.com/privacy-policy-2/">Privacy Policy</a>
        </div>
    </div>
</div>