<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {#  CSS  #}
    <link rel="stylesheet" href="/public/css/components/interaction_variables.css">
    <link rel="stylesheet" href="/public/css/general.css">
    <link rel="stylesheet" href="/public/css/symptoms/general.css">

    {#  SECTIONS  #}
    <link rel="stylesheet" href="/public/css/sections/burger_menu.css">
    <link rel="stylesheet" href="/public/css/sections/footer.css">
    <link rel="stylesheet" href="/public/css/sections/payload.css">

    <title>{{ page_title }}</title>
</head>
<body>
    <section id="nav_bar">
        {% include "/general/nav_bar.html.twig" %}
    </section>
    <section id="payload">
        {% block payload %}
            {# Main content gose here #}
        {% endblock %}
    </section>
    <section id="footer">
        {% include "/general/footer.html.twig" %}
    </section>

    {# JS #}
    <script src="/public/js/general/burger_menu.js"></script>
</body>
</html>