<link rel="stylesheet" href="/public/css/sections/website_navigation.css">

<div class="navigation_components">
    <div class="nav_logo">
        <a href="https://brainstormforbraininjury.com/"><img src="/public/images/general/bsfbi_logo.png" alt=""></a>
    </div>
    <div class="nav_items">
        <a href="/thank-you" class="nav_item">Thank You</a>
        <a href="/symptoms" class="nav_item">Symptoms</a>
        <a href="/form" class="nav_item">Form</a>
    </div>
    <div class="burger_menu">
        <span class="burger_layer first_layer"></span>
        <span class="burger_layer second_layer"></span>
        <span class="burger_layer third_layer"></span>
    </div>
</div>
