{% extends "/pages/symptoms.html.twig" %}

{% block symptom %}
    {#  Video Section  #}
    <div class="video_section">
        <iframe src="https://www.youtube.com/embed/FS163gvNW58"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>

    {#  Title Section #}
    <div class="title section">{{ page_title }}</div>

    {#  Description Section  #}
    <div class="description_section">

    </div>
{% endblock %}