{% extends "/pages/symptoms.html.twig" %}

{% block symptom %}
    <div class="introduction_to_symptom">
        {#  TODO: Provide link to the video, thus making video section rendered dynamically.  #}
        <div class="title_section">Introducing to <span class="title">{{ page_title }}</span></div>
        <div class="video_section">
            <iframe src="https://www.youtube.com/embed/FS163gvNW58"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>

    {#  Description Section  #}
    <div class="description_section">
        <div id="type-of-headaches" class="description_part main_point">
            Headaches after brain injury are really common and can last a long time.
            The pain from headaches can make life more difficult.
            If you are in pain, you may not sleep well.  You may struggle more with thinking and memory.
        </div>
        <div class="description_part">
            <div class="bullet_opening">
                <a href="#type-of-headaches" class="header_indicator">&#x23;</a>There are four main <strong>types of headache</strong> after brain injury:
            </div>
            <ul class="bullet_points">
                <li class="bullet_point">
                    <div class="sub_opening">
                        Migraine headaches
                    </div>
                    <div class="sub_content">
                        Migraines are usually on one side of the head.
                        They may be associated with nausea or vomiting and light or sound sensitivity.
                        You might have an aura or a warning signal that a migraine is starting.
                        This might involve seeing spots or bright lights.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Tension headaches
                    </div>
                    <div class="sub_content">
                        This type of headache comes from muscle tension.
                        They usually have a tight, squeezing sensation, typically around the entire head and usually occur later in the day.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Cervicogenic headaches
                    </div>
                    <div class="sub_content">
                        This type of headache is typically related to injury to the muscles and tissues in the back of the neck.
                        This type of headache usually starts in the neck, shoulders or back of the head. It may extend over the top of the head.
                        Neck movement or positioning can make the pain worse.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Rebound headaches
                    </div>
                    <div class="sub_content">
                        Sometimes medicines used to treat headaches can lead to rebound headaches.
                        If you take pain medicines on a regular basis, missing a dose can lead to a headache.
                        Even over-the-counter medications can cause rebound headaches if taken frequently.
                    </div>
                </li>
            </ul>

            <div class="section_closing">
                Sometimes people have more than one type of headache.
            </div>
        </div>

        <div id="lifestyle-changes" class="description_part">
            <div class="large_header">
                Treating headaches
            </div>
            <div class="bullet_opening">
                <a href="#lifestyle-changes" class="header_indicator">&#x23;</a><strong>Lifestyle changes</strong> can help decrease headaches.
                Sometimes simple changes can make a big difference in your headaches.
                Here are things to think about:
            </div>
            <ul class="bullet_points">
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Get enough sleep. Go to bed and wake up at the same time each day.
                        Lack of sleep makes fatigue worse, thinking more difficult and headaches worse.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Get daily exercise. Exercise helps the brain after injury.  Just walking each day can help.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Avoid or limit caffeine.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Avoid or limit foods that trigger a headache.  Red wine, monosodium glutamate and certain cheeses can be triggers.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        If possible, avoid taking pain medicines on a daily basis. Talk to your doctor about medications you are taking.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Try to reduce stress with relaxation techniques such as listening to music, meditating, or deep breathing.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Wear dark glasses if bright lights trigger your headaches.
                    </div>
                </li>
            </ul>
        </div>

        <div id="non-medical-treatments" class="description_part">
            <div class="bullet_opening">
                <a href="#non-medical-treatments" class="header_indicator">&#x23;</a><strong>Non-medication treatments</strong> can help headaches:
            </div>
            <ul class="bullet_points">
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Rest in a dark, quiet place
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Stretching
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Acupuncture
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Massage
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Heat or ice packs
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Counseling for stress reduction
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Physical therapy for neck condition
                    </div>
                </li>
            </ul>
        </div>

        <div id="medications" class="description_part">
            <div class="bullet_opening">
                <a href="#medications" class="header_indicator">&#x23;</a>Several <strong>medications</strong> can help headaches:
            </div>
            <ul class="bullet_points">
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Over-the-counter pain medicines like acetaminophen (Tylenol) or ibuprofen.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Prescription medicines for migraine headache like sumatriptan (Imitrex).
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Local injections to muscles, nerves or joints in the neck.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Antidepressant medications.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Anti-seizure medicines (like gabapentin (Neurontin) or topiramate (Topamax)).
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Certain blood pressure medication called beta-blockers (propranolol).
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Botulinum toxin (Botox) injections.
                    </div>
                </li>
            </ul>
        </div>

        <div id="who-can-help" class="description_part">
            <div class="bullet_opening">
                <a href="#who-can-help" class="header_indicator">&#x23;</a>Who can help with your headaches?
            </div>
            <ul class="bullet_points">
                <li class="bullet_point">
                    <div class="sub_opening">
                        Physiatrists
                    </div>
                    <div class="sub_content">
                        Physiatrists (doctors specializing in Physical Medicine and Rehabilitation) can help with headaches after a brain injury.
                        Some physiatrists treat patients with brain injury and other physiatrists treat musculoskeletal conditions like back pain.
                        Be sure that the physiatrist you see treats brain injury survivors.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Neurologists
                    </div>
                    <div class="sub_content">
                        Neurologists often treat people with headaches.
                        Be sure that the neurologist you see does treat headaches.
                        Not all neurologists do.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Physical therapists
                    </div>
                    <div class="sub_content">
                        Physical therapists can help with cervicogenic or tension headaches by treating tight muscles and neck pain.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Massage therapists
                    </div>
                    <div class="sub_content">
                        Massage therapists can reduce headaches by helping to relax muscles.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Mental health counselors
                    </div>
                    <div class="sub_content">
                        Mental health counselors can help you reduce stress which can lessen headaches.
                    </div>
                </li>
            </ul>
        </div>
        <div class="description_part">
            <strong>
                It can be really helpful to keep a headache journal to share with your doctor.
                Write down each time you get a headache, how severe it is, and what seemed to have triggered it.
            </strong>
        </div>
    </div>
{% endblock %}