{% extends "/general/header.html.twig" %}

{% block payload %}
    {# CSS goes here #}
    <link rel="stylesheet" href="/public/css/pages/not_found.css">

    <div id="not_found_container">
        <div class="not_found_wrapper">
            <span class="error_message">Not Found</span> <span class="error_code">404</span>
        </div>
    </div>
{% endblock %}