{% extends "general/header.html.twig" %}

{% block payload %}
    {#  PROJECTS CSS  #}
    <link rel="stylesheet" href="/public/css/projects/projects_main.css">

    <div class="projects-container">
        {% set delayInt = 1 %}
        {% for project in products %}
            <a href="#" class="prj-card prj-card-translated" data-tr_delay={{ 400 + delayInt }} >
                <div class="prj-content">
                    <img src={{ '/public/photos/' ~ project.getImgUrl() }}>
                </div>
            </a>
            {% set delayInt = delayInt + 50 %}
        {% endfor %}
    </div>

    <script src="/public/js/projects/translate_cards.js"></script>
{% endblock %}

