{% extends "/pages/symptoms.html.twig" %}

{% block symptom %}
    <div class="introduction_to_symptom">
        {#  TODO: Provide link to the video, thus making video section rendered dynamically.  #}
        <div class="title_section"><span class="title">{{ page_title }}</span></div>
        <div class="video_section">
            <iframe
                    src="https://www.youtube.com/embed/FS163gvNW58" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>

    {#  Description Section  #}
    <div class="description_section">
        <div class="description_part main_point">
            After a brain injury you may struggle with communicating.  You might have difficulty speaking, thinking of words, or understanding what others are saying.
        </div>

        <div class="description_part">
            <div id="communication-difficulties" class="bullet_opening">
                <a href="#communication-difficulties" class="header_indicator">&#x23;</a> Here are some of the conditions that can lead to <strong>communication difficulties</strong>:
            </div>
            <ul class="bullet_points">
                <li class="bullet_point">
                    <div class="sub_opening">
                        Aphasia
                    </div>
                    <div class="sub_content">
                        Aphasia is a problem with language, with speaking or understanding language or both.   It makes communicating difficult.  You can think when you have aphasia.  The problem is with communicating, not with thinking.
                        <br><br>
                        The language skills are in the left side of the brain in most people.  Injury to the left side of your brain  can cause aphasia.  You may struggle to think of the word you want to say, or say the wrong word. You also might have difficulty understanding language.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Dysarthria
                    </div>
                    <div class="sub_content">
                        Dysarthria leads to difficulty pronouncing words and happens with injury to parts of the brain that control the muscles used for speech. Speech might sound slurred.  If you only have dysarthria, you will still have the ability to use and understand language.  Sometimes people have both aphasia sn dysarthria.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Apraxia
                    </div>
                    <div class="sub_content">
                        Apraxia of speech is a condition in which strength and coordination of the speech muscles are working, but the person has difficulty saying words correctly.  Apraxia is difficulty with planning movements.  Apraxia may cause you to have difficulty saying what you are consciously thinking about saying. However, you might be able to speak perfectly normally when not thinking about
                    </div>
                </li>
            </ul>

            <div id="how-family-can-help" class="bullet_opening">
                <a href="#how-family-can-help" class="header_indicator">&#x23;</a> How <strong>family members</strong> can help:
            </div>
            <ul class="bullet_points">
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Use kind words and a gentle tone of voice. Be careful not to “talk down” to the person.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        When talking with the survivor, ask every so often if he or she understands what you are saying, or ask the person a question to determine if he or she understood what you said.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Do not speak too fast or say too much at once.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Develop a signal (like raising a finger) that will let the injured person know when he or she has gotten off topic.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Limit conversations to one person at a time.
                    </div>
                </li>
            </ul>

            <div id="who-can-help" class="bullet_opening">
                <a href="#who-can-help" class="header_indicator">&#x23;</a> <strong>Who can help</strong> me improve communication?
            </div>
            <ul class="bullet_points">
                <li class="bullet_point">
                    <div class="sub_opening">
                        Speech therapist
                    </div>
                    <div class="sub_content">
                        A speech and language pathologist (speech therapist) can help you improve your communication.   You may work with a speech therapist on your won or in a small group. You may want your family to be a part of your treatment. They can help you practice the skills you learn with the speech therapist at home.
                        <br><br>
                        In severe cases, you may need to find other ways to answer questions or tell people what you want. These may include hand gestures, writing, pointing to letters or pictures, or using a computerized speech system called augmentative alternative communication.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Physiatrists
                    </div>
                    <div class="sub_content">
                        Physiatrists (doctors specializing in Physical Medicine and Rehabilitation) can help guide you with speaking difficulties.  They can help determine why you might be having difficulties and help you find providers to help.   Some physiatrists treat patients with brain injury and other physiatrists treat musculoskeletal conditions like back pain.  Be sure that the physiatrist you see treats brain injury survivors.
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}