{% extends "/general/header.html.twig" %}

{% block payload %}
    {#  CSS goes here  #}
    <link rel="stylesheet" href="/public/css/symptoms/general.css">
    <link rel="stylesheet" href="/public/css/symptoms/layout.css">
    <link rel="stylesheet" href="/public/css/symptoms/video.css">
    <link rel="stylesheet" href="/public/css/symptoms/general.css">

    <div class="symptom_section">
        {% block symptom %}
            {#    Specific symptom goes here    #}
        {% endblock %}
    </div>

    {#  JS goes here  #}
{% endblock %}