{% extends "/general/header.html.twig" %}

{% block payload %}
    {# CSS goes here #}
    <link rel="stylesheet" href="/public/css/symptom_collection_page/layout.css">
    <link rel="stylesheet" href="/public/css/symptom_collection_page/cards.css">

    <div id="symptoms_collection_container">
        <div class="large_header"> Symptoms </div>
        <div class="symptoms_collection">
            {% for symptom in symptoms %}
                <a class="symptom_card" href={{ "/symptoms/" ~ symptom.url }} >
                    <div class="img_section"
                         style="background-image: url({{ concerns_directory ~ "/" ~ symptom.imageName }})">
                    </div>
                    <div class="about_symptom">
                        <span class="symptom_name">{{ symptom.name }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}