{% extends "/general/header.html.twig" %}

{% block payload %}
    <link rel="stylesheet" href="/public/css/thank_you/general.css">
    <div id="thank_you_section">
        <div class="acknowledgement_message">

        </div>
        <div class="solid_concern_section">
            <div class="solid_concern_identification">

            </div>
            <div class="solid_concern_card">

            </div>
        </div>
        <div class="other_concerns">
            {#  Loop is required to populate this section with cards  #}
        </div>
    </div>
{% endblock %}