{% extends "/general/header.html.twig" %}

{% block payload %}
    <style>
        body {
            height: 100vh;
            width: 100vw;
        }

        .message {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%);
        }
    </style>

    <h1 class="message">Coming Soon</h1>
{% endblock %}