{% extends "/pages/symptoms.html.twig" %}

{% block symptom %}
    <div class="introduction_to_symptom">
        {#  TODO: Provide link to the video, thus making video section rendered dynamically.  #}
        <div class="title_section"><span class="title">{{ page_title }}</span></div>
        <div class="video_section">
            <iframe
                    src="https://www.youtube.com/embed/ChaL6eMp1F4" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>

    {#  Description Section  #}
    <div class="description_section">
        <div class="description_part main_point">
            Injury to the brain from any cause can lead to vision difficulties or problems seeing. Vision is super important for our function.  It helps us understand our environment and people around us.  It helps us balance and walk.  It allows us to read, attend school, drive and work.  When vision is decreased, life is more difficult.
        </div>

        <div class="description_part">
            <div id="after-brain-injury" class="bullet_opening">
                <a href="#after-brain-injury" class="header_indicator">&#x23;</a> Possible vision difficulties after brain injury:
            </div>
            <ul class="bullet_points">
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Blurred vision
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Double vision
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Decreased peripheral vision
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Loss of vision in one or both eyes
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Hypersensitivity to light
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Decreased depth perception
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Eye pain and headaches
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Decreased visual processing or interpreting what you see
                    </div>
                </li>
            </ul>

            <div class="paragraph">
                Sometimes, the eye itself is injured from a head injury.  Injury to the nerves in the lower brain going to the eye muscles may impair movements of the eyes.  Injuries to other nerves in the lower brain can lead to decrease or loss of vision.  Injury to the higher areas of the brain can lead to difficulties processing visual information.
            </div>

            <div id="what-can-i-do" class="bullet_opening">
                <a href="#what-can-i-do" class="header_indicator">&#x23;</a> <strong>What can I do</strong> to help my vision?
            </div>
            <ul class="bullet_points">
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Take frequent breaks when doing visual tasks such as reading, using electronic devices or watching television.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Use magnifying glasses to make objects easier to see. Make print bigger with electronic readers.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Avoid bright lights such as fluorescent lights. Use natural light if possible.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Wear sunglasses if you have light hypersensitivity.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        For complete vision loss use devices talking books, talking timers and other devices, mobile phone apps and mobility devices.
                    </div>
                </li>
                <li class="bullet_point bullet_point_with_arrow">
                    <span class="list_arrow">
                        <svg height="10" width="11"><path d="M7.586 5L4.293 1.707 5.707.293 10.414 5 5.707 9.707 4.293 8.293z"></path><path d="M8 4v2H0V4z"></path></svg>
                    </span>
                    <div class="sub_content">
                        Use eyeglasses, prism glasses or eye patching as advised by your doctor or therapist
                    </div>
                </li>
            </ul>

            <div id="who-can-help" class="bullet_opening">
                <a href="#who-can-help" class="header_indicator">&#x23;</a> <strong>Who can help</strong> with my vision?
            </div>
            <ul class="bullet_points">
                <li class="bullet_point">
                    <div class="sub_opening">
                        Optometrist
                    </div>
                    <div class="sub_content">
                        An optometrist is an eye doctor that can examine, diagnose, and treat your eyes. Some optometrists also do vision therapy.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Ophthalmologist
                    </div>
                    <div class="sub_content">
                        An ophthalmologist is a medical doctor who can perform medical and surgical interventions for eye conditions.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Occupational therapists
                    </div>
                    <div class="sub_content">
                        Occupational therapists are sometimes trained to do vision therapy.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Neuro-optometrists and neuro-ophthalmologists
                    </div>
                    <div class="sub_content">
                        Neuro-optometrists and neuro-ophthalmologists are specialists with additional training in working with people with brain-related vision problems.
                    </div>
                </li>
                <li class="bullet_point">
                    <div class="sub_opening">
                        Physiatrists
                    </div>
                    <div class="sub_content">
                        Physiatrists (doctors specializing in Physical Medicine and Rehabilitation) can help guide you with  vision difficulties and refer you to vision specialists.  Some physiatrists treat patients with brain injury and other physiatrists treat musculoskeletal conditions like back pain.  Be sure that the physiatrist you see treats brain injury survivors.
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}