#intro_container .call_to_action {
    text-decoration: none;
    border-radius: 4px;
    background-color: #3C836D;
    margin-top: 1rem;
    padding: 0.5rem;
    color: white;
    font-size: 25px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

#intro_container .call_to_action:hover {
    background-color: #05a081;
    transition: 0.2s;
    transform: translateY(-2%);
}

#intro_container .call_to_action:active {
    background-color: #05a081;
    transition: 0.2s ease-out;
    transform: translateY(3%);
}

/* -------------------------------- RESPONSIVENESS ---------------------------- */

@media only screen and (min-width: 701px) and (max-width: 1200px) {
    #intro_container .call_to_action {
        font-size: 20px;
    }
}

@media only screen and (max-width: 700px) {
    #intro_container .call_to_action {
        font-size: 15px;
    }
}